body {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

header > .inner {
    background-color: aquamarine;
    height: 120px;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

header .logo img {
    width: 80px;
    height: 80px;
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
}

header .sub-menu .menu ul {
    display: flex;
    align-items: center;
    height: 36px;
}

header .sub-menu .menu ul li {
    position: relative;
    padding: 0px 10px;
    margin-left: 1px;
}

header .sub-menu .menu ul li::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 16px;
    background-color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu .menu ul li:first-child::before {
    display: none;
}

header .sub-menu .menu ul li:hover {
    color: white;
}

header .sub-menu .search {
    position: relative;
    display: flex;
    align-items: center;
}

header .sub-menu .search input {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    transition: .6s;
}

header .sub-menu .search input:focus {
    width: 180px;
}

header .sub-menu .search .material-icons {
    position: absolute;
    left: 5px;
}

header .sub-menu .search.focused .material-icons {
    display: none;
}

.banners {
    position: fixed;
    top: 132px;
    right: 5px;
}

.banners .banner img {
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

.banners .banner1 img {
    height: 180px;
}

.banners .banner2 img {
    height: 200px;
}

header .main-menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .main-menu ul {
    display: flex;
}

header .main-menu .item .item__name{
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header .main-menu .item:hover .item__name{
    color:aquamarine;
    background-color: black;
}

header .main-menu .item .item__contents {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: black;
    display: none;
}

header .main-menu .item:hover .item__contents{
    display: block;
}

header .main-menu .item .item__contents .contents__texture {
    background-image: url(./images/green_pattern.jpg);
}

header .main-menu .item .item__contents .contents__texture h4 {
    padding: 10px 0;
}

header .main-menu .item .item__contents .contents__texture p {
    padding-bottom: 5px;
}

header .main-menu .item .item__contents .contents__list > ul {
    display: flex;
    padding: 20px;
}

header .main-menu .item .item__contents .contents__list > ul li {
    width: 220px;
    text-align: center;
}

header .main-menu .item .item__contents .contents__list > ul li > h4 {
    font-size: 24px;
    padding: 20px 0;
    color: aquamarine;
}

header .main-menu .item .item__contents .contents__list > ul li > h4:hover {
    color: white;
}

header .main-menu .item .item__contents .contents__list > ul li > ul li:hover {
    color: white;
}

header .main-menu .item .item__contents .contents__list > ul li > ul {
    display: block;
}

header .main-menu .item .item__contents .contents__list > ul li > ul li {
    padding: 5px 0;
    color: aquamarine;
}

.visual {
    background-size: cover;
    background-image: url(./images/vis_bg.png);
}

.visual > .inner {
    margin-top: 120px;
    height: 646px;
}

.visual .image1 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 60px;
    left: 90px;
}

.visual .image2 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0px;
    right: -30px;
}

.visual .text {
    position: absolute;
    width: 800px;
    height: 700px;
    top: -450px;
    left: -100px;
}

.fade-in {
    opacity: 0;
}