body {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

a {
    text-decoration: none;
    color: black;
}

.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

header > .inner {
    background-color: rgb(227, 255, 185);
    height: 120px;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

header .logo img {
    width: 80px;
    height: 80px;
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
}

header .sub-menu .menu ul {
    display: flex;
    align-items: center;
    height: 36px;
}

header .sub-menu .menu ul li {
    position: relative;
    padding: 0px 10px;
    margin-left: 1px;
}

header .sub-menu .menu ul li::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 16px;
    background-color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .sub-menu .menu ul li:first-child::before {
    display: none;
}

header .sub-menu .menu ul li:hover {
    color: white;
}

header .sub-menu .search {
    position: relative;
    display: flex;
    align-items: center;
}

header .sub-menu .search input {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    transition: .6s;
}

header .sub-menu .search input:focus {
    width: 180px;
}

header .sub-menu .search .material-icons {
    position: absolute;
    left: 5px;
}

header .sub-menu .search.focused .material-icons {
    display: none;
}

.banners {
    position: fixed;
    top: 132px;
    right: 5px;
}

.banners .banner img {
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

.banners .banner1 img {
    height: 180px;
}

.banners .banner2 img {
    height: 200px;
}

header .main-menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .main-menu ul {
    display: flex;
}

header .main-menu .item .item__name{
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

header .main-menu .item:hover .item__name{
    color:aquamarine;
    background-color: black;
}

header .main-menu .item .item__contents {
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: black;
    display: none;
}

header .main-menu .item:hover .item__contents{
    display: block;
}

header .main-menu .item .item__contents .contents__texture {
    background-image: url(./images/green_pattern.jpg);
}

header .main-menu .item .item__contents .contents__texture h4 {
    padding: 10px 0;
}

header .main-menu .item .item__contents .contents__texture p {
    padding-bottom: 5px;
}

header .main-menu .item .item__contents .contents__list > ul {
    display: flex;
    padding: 20px;
}

header .main-menu .item .item__contents .contents__list > ul li {
    width: 220px;
    text-align: center;
}

header .main-menu .item .item__contents .contents__list > ul li > h4 {
    font-size: 24px;
    padding: 20px 0;
    color: aquamarine;
}

header .main-menu .item .item__contents .contents__list > ul li > h4:hover {
    color: white;
}

header .main-menu .item .item__contents .contents__list > ul li > ul li:hover {
    color: white;
}

header .main-menu .item .item__contents .contents__list > ul li > ul {
    display: block;
}

header .main-menu .item .item__contents .contents__list > ul li > ul li {
    padding: 5px 0;
    color: aquamarine;
}

.visual {
    background-size: cover;
    background-image: url(./images/vis_bg.png);
}

.visual > .inner {
    margin-top: 120px;
    height: 646px;
}

.visual .image1 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 60px;
    left: 90px;
}

.visual .image2 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0px;
    right: -30px;
}

.visual .text {
    position: absolute;
    width: 900px;
    height: 800px;
    top: -550px;
    left: -100px;
}

.visual .btn.btn--green {
    position: absolute;
    top: 80px;
    left: 250px;
}

.fade-in {
    opacity: 0;
}

.btn {
    width: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.btn:hover {
    color: white;
    background-color: black;
}

.btn.btn--green {
    color: black;
    border-color: black;
}

.btn.btn--green:hover {
    color: greenyellow;
    background-color: black;
}

.notice {
    position: relative;
}

.notice .bg-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
}

.notice .bg-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
}

.notice > .inner {
    display: flex;
    height: 62px;
}

.notice .inner__left {
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .inner__right {
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .inner__right h2 {
    margin-right: 20px;
}

.notice .inner__right .material-icons {
    font-size: 30px;
    cursor: pointer;
}

.notice .inner__left h2 {
    color: white;
    margin-right: 20px;
}

.notice .inner__left .swiper {
    flex-grow: 1;
    height: 62px;
}

.notice .inner__left .notice_button {
    width: 62px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.notice .inner__left .notice_button .material-icons {
    color: white;
    font-size: 30px;
}

.notice .inner__left .swiper-slide {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

.promotion .swiper {
    width: calc(700px * 3 + 10px * 2);
    height: 450px;
    flex-shrink: 0;
}

.promotion .swiper-slide img {
    width: 700px;
    height: 450px;
}

.promotion .swiper-slide {
    position: relative;
    opacity: 0.5;
    transition: opacity 1s;
}

.promotion .swiper-slide-active {
    opacity: 1;
}

.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.promotion .swiper-pagination {
    bottom: 15px !important;
}

.promotion .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.promotion .swiper-pagination-bullet-active {
    background-image: url(./images/promotion_slide_pager_on.png);
    background-color: transparent;
}

.promotion .swiper-button-prev::after, .promotion .swiper-button-next::after{
    display: none;
}

.promotion .swiper-button-prev, .promotion .swiper-button-next {
    color: black;
    width: 42px;
    height: 42px;
    border: 2px solid black;
    border-radius: 50%;
    top: 82%;
}

.promotion .swiper-button-prev:hover, .promotion .swiper-button-next:hover {
    color: white;
    background-color: black;
}

.promotion .swiper-button-prev {
    left: 28%;
}

.promotion .swiper-button-next {
    right: 28%;
}

.promotion.hide {
    height: 0;
}

.rewards {
    position: relative;
}

.rewards .inner {
    height: 220px;
}

.rewards .bg-left {
    position: absolute;
    width: 35%;
    height: 100%;
    left: 0;
    background-color: rgb(227, 255, 185);
}

.rewards .bg-right {
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
    background-color: #f0f5eb;
}

.rewards .rew_1 {
    top: -135px;
    left: -130px;
    position: absolute;
    width: 500px;
    height: 500px;
}

.rewards .rew_2 {
    top: -135px;
    left: 380px;
    position: absolute;
    width: 500px;
    height: 500px;
}

.rewards .btn-group {
    position: absolute;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
}

.rewards .btn-group .sign-up {
    width: 140px;
    margin-right: 10px;
}

.rewards .btn-group .sign-in {
    width: 100px;
}

.rewards .btn-group .get-rewards {
    flex-grow: 1;
    margin-top: 10px;
}

.btn.btn--reverse {
    color: white;
    background-color: black;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    color: black;
}

.youtube {
    position: relative;
    height: 700px;
    background-color: black;
    overflow: hidden;
}

.youtube .youtube_area {
    --width : 1920px;
    position: absolute;
    width: var(--width);
    height: calc(var(--width) * 9 / 16);
    top: 50%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    margin-top: calc(var(--width) * 9 / 16 / -2);
}

.youtube .youtube_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/video_cover_pattern.png);
    background-color: rgba(0, 0, 0, 0.3);
}

#player {
    position: absolute;
    width: 100%;
    height: 100%;
}

.youtube .float_1 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 20px;
    left: -20px;
}

.youtube .float_2 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 280px;
    left: 240px;
}

.section-event .float_3 {
    position: absolute;
    width: 180px;
    height: 180px;
    top: -150px;
    left: 920px;
}

.section-event {
    background-image: url(./images/event_img1.png);
}

.section-event .inner{
    height: 400px ;
}

.section-shop {
    background-image: url(./images/shop_img1.png);
    background-size: cover;
}

.section-shop .inner{
    height: 450px ;
}

.section-3d {
    background-image: url(./images/3d_img1.png);
    background-size: cover;
}

.section-3d .inner{
    height: 600px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3d .medal {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
}

.section-3d .medal .back_plane {
    position: absolute;
    transition: 1.5s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.section-3d .medal .back_plane .btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 350px;
}

.section-3d .medal .front_plane {
    position: absolute;
    transition: 1.5s;
}

.section-3d .medal:hover .back_plane {
    transform: rotateY(0);
}

.section-3d .medal:hover .front_plane {
    transform: rotateY(-180deg);
}

.section-king {
    background-image: url(./images/king_img1.png);
    background-size: cover;
}

.section-king .inner{
    height: 500px ;
}

.section-event .event_img2 {
    position: absolute;
    width: 30%;
    height: auto;
    top: -10px;
    left: 40px;
}

.section-event .event_des {
    position: absolute;
    width: 30%;
    height: auto;
    right: 250px;
    top: 30px;
}

.section-event .btn {
    position: absolute;
    bottom: 100px;
    right: 360px;
}

.section-shop .shop_img2 {
    position: absolute;
    width: 30%;
    height: auto;
    top: -10px;
    left: 40px;
}

.section-shop .shop_des {
    position: absolute;
    width: 30%;
    height: auto;
    right: 250px;
    top: 30px;
}

.section-shop .btn {
    position: absolute;
    bottom: 120px;
    right: 360px;
}

.section-king .king_img2 {
    position: absolute;
    width: 30%;
    height: auto;
    top: -10px;
    left: 40px;
}

.section-king .king_des {
    position: absolute;
    width: 30%;
    height: auto;
    right: 250px;
    top: 30px;
}

.section-king .btn {
    position: absolute;
    bottom: 160px;
    right: 360px;
}

.back-to-position {
    opacity: 0;
    transition-duration: 1s;
}

.back-to-position.to-left {
    transform: translateX(150px);
}

.back-to-position.to-right {
    transform: translateX(-150px);
}

.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}

.show .back-to-position.deg {
    opacity: 1;
    transform: translateX(0) rotate(3deg);
}

.back-to-position.delay-1 {
    transition-delay: .3s;
}

.back-to-position.delay-2 {
    transition-delay: .6s;
}

.back-to-position.delay-3 {
    transition-delay: .9s;
}

.back {
    width: 500px;
    height: 500px;
}

.front {
    width: 300px;
    height: 300px;
}